[package]
name = "web"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
api = { workspace = true }
reqwest = {workspace = true}

[features]
default = []
web = ["dioxus/web"]
server = ["dioxus/server", "api/server"]
